* {
    margin: 0;
    padding: 0;
}

/*------------menu-------*/
.banner {
    width: 100%;
    height: 60vh;
    position: relative;
    background: #ad5389;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(279, 67%, 19%, 0.637), hsla(324, 35%, 50%, 0.623)), url("../img/estudiantes_banner.jpg");
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(279, 67%, 19%, 0.5), hsla(324, 35%, 50%, 0.5)), url("../img/estudiantes_banner.jpg");
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
}
.ola{
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
}
.menu {
    color: white;
    padding: 10px 0;
}

.menu ul {
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.menu li {
    text-decoration: none;
    display: inline-block;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu a:hover {
    color: black;
    background-color: white;
}

/*--------panel de informacion--------*/
.info {
    display: flex;
    padding: 5em;
    line-height: 2em;
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
}

@media(max-width: 1000px) {
    .info img {
        max-width: 200px;
        max-height: 200px;
        border-radius: 0px;
    }
}

.info article {
    width: 75%;
    padding: 0 50px;
}

.info h1 {
    margin: 0 0 50px 0;
    text-align: center;
}

.info p {
    margin: 0;
}

.info img {
    max-width: 400px;
    max-height: 400px;
    border-radius: 100px;
}

/*-----------talleres-----------*/
.talleres {
    background-color: #e4a827;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.talleres center {
    color: white;
}

.iconos {
    height: 90px;
}

/*-----------footer-----------*/
footer {
    background-color: #e4a827;
    padding: 2em;
    display: flex;
    justify-content: space-around;
}

footer div {
    color: white;
    text-align: center;
}

.logo div {
    width: 100%;
    display: flex;
    justify-content: center;
}

