*{
	padding: 0;
	margin: 0;
}
@font-face{
    font-family: open-sanz;
    src: url("../fonts/OpenSans-Light.ttf");
}
body{
    font-family: open-sanz;
}
.principal{
    display: flex;
}
.info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.info img{
    max-width: 600px;
}
.info p{
    width: 80%;
    margin: 0 auto;
}

.info p{
    padding: 1em 0;
}

/*-----------menu-----------*/
.menu {
    padding: 10px 0;
    background-color: black;
}

.menu ul {
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.menu li {
    text-decoration: none;
	display: inline-block;
	color: white;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu a:hover {
    color: black;
    background-color: white;
}

/*------ventana-login------*/
.ventana{
	width: 600px;
	margin: auto;
	position: relative;
	margin-top: 7em;
	margin-bottom: 6.9em;
	font-family: bellota;
}
.formulario{	
	padding: 1em;
	border-radius: 20px;
	border: 4px solid rgb(0,0,0,0.3);
	z-index: 5;
	position: relative;
}
.formulario::before{
	content: "";
	opacity: .8;
	z-index: -1;
	background-color: #A5601B;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 16px;
}
.formulario-titulo{
	text-align: center;
	font-size: 1.5em;
	color: white;
	padding: 0 0 1em 0;
}
.formulario p{
	padding: 15px 0;
}
label{
	font-size: 20px;
	color: white;
}
.input-texto{
	float: right;
    height: 25px;
    width: 300px;
    border-radius: 5px;
}
.boton_submit{
	width: 100%;
	text-align: center;
}
.input-submit{
	text-align: center;
	margin-top: 1em;
	height: 40px;
	width: 30%;
	border-radius: 10px;
	background-color: #E1962F;
	color: white;
}
.registro a{
	color: white;
	text-decoration: none;
}

/*-----------footer-----------*/
footer {
    background-color: #e4a827;

    display: flex;
    justify-content: space-around;
}

footer div {
    width: 33%;
    color: white;
    text-align: center;
}

.logo div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo img {
    max-width: 30px;

    right: 10px;
}